
body
{
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #b7872c;
	font: 1em/1.2 "Brandon Grotesque", Helvetica, Arial, Geneva, sans-serif;
}

h1,h2,h3,h4,h5,h6
{
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}

h1 { font-size: 2.25em; font-family: Belizio; color: #4e3a14;} /* 36px */
h2 { font-size: 1.75em; } /* 28px */
h3 { font-size: 1.375em; } /* 22px */
h4 { font-size: 1.125em; } /* 18px */
h5 { font-size: 1em; } /* 16px */
h6 { font-size: .875em; } /* 14px */

p
{
	color: #4e3a14;
	font-size: 1.125em;
	font-family: Brandon Grotesque; font-weight: bold;
	margin: 0 0 1.5em;
	line-height: 1.5;
}

hr
{
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #4e3a14;
}

a:link { color: royalblue; }
a:visited { color: purple; }
a:focus { color: black; }
a:hover { color: #b7872c; }
a:active { color: #5b4219; }

.container
{
	max-width: 50em;
	margin: 0 auto;
}

.header
{
	color: #fff;
	background: #3b2c0f;
	padding: 1em 1.25em;
}

.header-heading { margin: 0; }

.nav-bar
{
	background: #4e3a14;
	padding: 0;
}

.content
{
	padding: 1em 1.25em;
	background-color: #b7872c;
}

.footer
{
	color: #4e3a14;
	background: #5b4219;
	padding: 1em 1.25em;
}


.nav
{
	margin-left: 100px;
	margin: 0;
	padding: 12px;
	list-style: none;
}

.nav li
{
	display: inline;
	margin: 0;
}

.nav a
{
	text-align: center;
	display: block;
	padding: 25px;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #5b4219;
}

.nav a:link { color: #4e3a14; }
.nav a:visited { color: white; }

.nav a:focus
{
	color: black;
	background-color: white;
}

.nav a:hover
{
	color: white;
	background-color: #8d6822;
}

.nav a:active
{
	color: white;
	background-color: white;
}


.img-responsive { max-width: 100%; 
}

.FPO{ max-width: 100%;
	padding: 1em;
}

@media (min-width: 42em)
{
	.header { padding: 1.5em 3em; }
	.nav-bar { padding: 1em 3em; }
	.content { padding: 2em 3em; }
	.footer { padding: 2em 3em; }
	
	.nav li
	{
		margin: 0 1em 0 0;
	}
	
	.nav a
	{
		text-align: center;
		display: inline;
		padding: 25px;
		border-bottom: 0;
	}
}