h1{font-family: helvetica; font-size: 24px; color: #a3a3a3}
h2{font-family: helvetica; font-variant: italic; font-size: 14px; color: #a3a3a3; line-height: 10px}
body{background-color: #1B2326; margin-left: 50px}
p{font-family: Garamond; font-size: 12px; line-height: 18px; width: 500px}