@media (max-width: 859px) {
	{
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (min-width: 860px) {
	{	
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.logo{
	float: left, top;
	max-width: 50px;
	}


article{margin-bottom: 100px;
	border-bottom: 2px solid;
	border-bottom-color: #adadad;  

}

h1{font-family: Quatro Slab; 
	font-weight: lighter;
	font-size: 24px; 
	color: #e6e6e6
}

h2{font-family: Din; 
	font-style: lighter;
	font-variant: italic; 
	font-size: 14px; 
	color: #3F474A; 
	line-height: 5px;
}

body{background-color: #1B2326; 
	margin-left: 50px;
}

p{font-family: Din; 
	font-weight: lighter; 
	font-size: 14px; line-height: 18px; 
	width: 300px; color:#adadad;
}

div{padding: 24px}


.dobot{float: right;
	display: block;
	margin-right: 200px;
	margin-bottom: 0px;
    max-width: 300px;
    min-width:299px; 
    border: 3px solid #f0f0f0;
    padding: 0px
}

.prod2{float: right;
	display: inline-block;
	position: relative;
	margin-right: 200px;
	margin-bottom: 0px;
    max-width: 300px;
    min-width:299px; 
    border: 3px solid #f0f0f0;
    padding: 0px
}

.stix{float: right;
	display: block;
	margin-right: 200px;
	margin-bottom: 0px;
    max-width: 300px;
    min-width:299px; 
    border: 3px solid #f0f0f0;
    padding: 0px
}

a{color: teal; 
	text-decoration: none;
	border-bottom: 2px solid;
	display: block;
	border-bottom-color: #adadad;
	
}

span{font-family: Quatro Slab; 
	font-weight: lighter;
	font-size: 20px; 
	color: #e6e6e6;
}

button{
	color: white;
	background-color: teal;
	padding: 10px;
	margin: 10px;
	border: none;
	border-radius: 9px;
	
}